footer {
  background-color: var(--grey);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 40.5px;
  padding-bottom: 40px;
  text-wrap: nowrap;
}
.footer-links {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
  width: 100%;
  gap: 16px;
}
.footer-socials-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}
.footer-socials {
  display: flex;
  gap: 12px;
}
.footer-credits {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
}
