.pantheon-cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.pantheon-card {
  height: 288px;
  width: 301px;
  background-color: var(--background);
  border: 2px solid var(--blue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 0px;
}

.pantheon-image {
  position: absolute;
  height: 100%;
  width: 297px;
  display: flex;
  height: 216px;
  img {
    height: 216px;
    width: 297px;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
  }
}
.pantheon-bookmark {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  z-index: 10;
  margin-bottom: 128px;
}
.pantheon-title {
  z-index: 10;
  background-color: var(--background);
  padding: 8px 12px;
  color: var(--text-secondary);
  max-width: fit-content;
  font-size: 20px;
  font-family: "Caesar Dressing";
  color: var(--blue);
}

.pantheon-card.red {
  border: 2px solid var(--red);
  .pantheon-title {
    color: var(--red);
  }
  .pantheon-bookmark {
    svg {
      path {
        fill: var(--red);
      }
    }
  }
}
.pantheon-card.green {
  border: 2px solid var(--green);
  .pantheon-title {
    color: var(--green);
  }
  .pantheon-bookmark {
    svg {
      path {
        fill: var(--green);
      }
    }
  }
}
.pantheon-card.yellow {
  border: 2px solid var(--yellow);
  .pantheon-title {
    color: var(--yellow);
  }
  .pantheon-bookmark {
    svg {
      path {
        fill: var(--yellow);
      }
    }
  }
}
.pantheon-categorie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 0px 12px;
}
.pantheon-description {
  font-size: 16px;
  color: var(--text);
  padding: 0px 0px 12px 12px;
}
@media screen and (max-width: 768px) {
  .pantheon-card {
    width: 175px;
  }
  .pantheon-image {
    width: 171px;
    height: 216px;
    img {
      width: 171px;
      height: cover;
    }
  }
}

.pantheon-card.hidden {
  display: none;
}
