.title {
  flex: 1;
  width: 100%;
  position: relative;
  font-size: 40px;
  font-family: "Caesar Dressing";
  color: #515050;
  text-align: left;
  display: inline-block;
  margin-top: 129px;
  margin-bottom: 40px;
}
