* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --blue: #279ef8;
  --yellow: #f8af27;
  --green: #12965d;
  --red: #f82727;
  --grey: #bcbfc3;
  --background: #ffffff;
  --text: #515050;
  --text-secondary: #000000;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-size: 20px;
  font-family: "Bubbler One";
  color: var(--text);
  text-align: left;
  background-color: var(--background);
}
main {
  width: 100vw;
}

body {
  overflow-x: hidden;
  width: 100vw;
}
